In [ ]:
#INTRODUCTION TO SLICING OF LISTS:

In [1]:
my_students= ['sagarika', 'zainab','raja','shadaab','reema', 'jyotshna']
print(my_students)

['sagarika', 'zainab', 'raja', 'shadaab', 'reema', 'jyotshna']

In [ ]:
#REQ: SLICING 2 PERSONS IN A SINGLE GROUP:
GENERAL SYNTAX OF SLICING
var[startvalue:stopvalue:stepcount]
#last value is always exclusive

In [2]:
print(my_students[0:1])

['sagarika']

In [3]:
print(my_students[0:2])

['sagarika', 'zainab']

In [ ]:
req:want raju and shadaab

In [4]:
print(my_students[2:4])

['raja', 'shadaab']

In [ ]:
req:want reema and jyotshna

In [5]:
print(my_students[4:6])

['reema', 'jyotshna']

In [6]:
print(my_students)

['sagarika', 'zainab', 'raja', 'shadaab', 'reema', 'jyotshna']

In [ ]:
req:to consider every alternative in the list:

In [11]:
print(my_students[0:8:2])

['sagarika', 'raja', 'reema']

In [ ]:
#NEGATIVE INDEXING

In [13]:
print(my_students)

['sagarika', 'zainab', 'raja', 'shadaab', 'reema', 'jyotshna']

In [14]:
print(my_students[5])

jyotshna

In [ ]:
negative indexing will start from -1 ,-2,-3....

In [15]:
print(my_students[-1])

jyotshna

In [ ]:
#HOW DO YOU PRINT THE LIST IN REVERSE ORDER:

In [16]:
print(my_students[::-1])

['jyotshna', 'reema', 'shadaab', 'raja', 'zainab', 'sagarika']

In [ ]:
#INTRODUCTION TO RANGE FUNCTIONS:

In [ ]:
general syntax of a range:
var(start:stop:stepcount)

In [ ]:
#want to print numbers from 1 to 30

In [19]:
numbers=list(range(1,31))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
req:want to print only even numbers:

In [22]:
even_numbers=list(range(2,31,2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [23]:
odd_numbers=list(range(3,31,2))
print(odd_numbers)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
interview question:how to print even and odd numbers?